doctype html
html(ng-app="instantApp")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
  body
    block content

    script(src="https://code.jquery.com/jquery-1.10.2.js")
    script(src="/node/socket.io/node_modules/socket.io-client/socket.io.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js")
    script(src="/javascripts/main.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
